# Ignore build output
bin/
obj/

# Ignore user-specific files and folders
.vs/
*.user
*.suo

# Ignore temporary and IDE files
*.log
*.tmp
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

.vscode/